<!--
<div>
  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Cadastro</h1>
      </div>
      <div>
        <div class="ui-g-2 ui-fluid">
          <label>Nome</label>
          <input
            pInputText
            type="text"
            name="nome"
            ngModel
            required
            #nome="ngModel"
          />
        </div>
        <div class="ui-g">
          <div class="ui-g-2 ui-fluid">
            <label>Endereco</label>
            <input
              pInputText
              type="text"
              placeholder="Rua"
              name="endereco"
              ngModel
              required
            />
          </div>
          <div class="ui-g-1 ui-fluid">
            <label>Numero</label>
            <input pInputText type="number" name="numero" ngModel required />
          </div>
          <div class="ui-g-1 ui-fluid">
            <label>Complemento</label>
            <input pInputText type="text" name="complemento" ngModel />
          </div>
          <div class="ui-g-2 ui-fluid">
            <label>Bairro</label>
            <input pInputText type="text" name="bairro" ngModel required />
          </div>
          <div class="ui-g-1 ui-fluid">
            <label>Telefone</label>
            <input
              pInputText
              type="text"
              maxlength="9"
              minlength="8"
              name="telefone"
              ngModel
              required
            />
          </div>
        </div>
      </div>
      <button
        pButton
        type="submit"
        label="Click"
        [disabled]="!usuarioForm.valid"
      ></button>
    </div>
  </form>
  <div></div>
</div>
-->

<div class="ui-g">
  <div class="ui-g-2 ui-fluid">
    <label>Nome</label>
    <input pInputText type="text" [(ngModel)]="contato.nome" required />
  </div>
  <div class="ui-g-2 ui-fluid">
    <label>Endereco</label>
    <input pInputText type="text" [(ngModel)]="contato.endereco" required />
  </div>
  <div class="ui-g-1 ui-fluid">
    <label>Numero</label>
    <input pInputText type="number" [(ngModel)]="contato.numero" required />
  </div>
  <div class="ui-g-1 ui-fluid">
    <label>Complemento</label>
    <input pInputText type="text" [(ngModel)]="contato.complemento" />
  </div>
  <div class="ui-g-2 ui-fluid">
    <label>Bairro</label>
    <input pInputText type="text" [(ngModel)]="contato.bairro" required />
  </div>
  <div class="ui-g-1 ui-fluid">
    <label>Telefone</label>
    <input
      pInputText
      type="text"
      maxlength="9"
      minlength="8"
      [(ngModel)]="contato.telefone"
      required
    />
  </div>
  <p-button label="Click" (onClick)="addCad($event)"></p-button>
  <p-table [value]="cadastro">
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Endereco</th>
        <th>Numero</th>
        <th>Complemento</th>
        <th>Bairro</th>
        <th>Telefone</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cad>
      <tr>
        <td>{{ cad.nome }}</td>
        <td>{{ cad.endereco }}</td>
        <td>{{ cad.numero }}</td>
        <td>{{ cad.complemento }}</td>
        <td>{{ cad.bairro }}</td>
        <td>{{ cad.telefone }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
